export(ES)
export(ESpredict)
export(MPinverse)
export(block_cross)
export(block_multiple)
export(block_solve)
export(create.tags)
export(cv.ES)
export(MPinverse)
export(scaledata)
importFrom("stats", "var")